Assets/Textures/
ProjectSettings/
Assets/Texture/wall.jpeg
Assets/Texture/wall.jpeg.meta
Packages/manifest.json
Packages/packages-lock.json
.vsconfig
ZShader.sln
ZShaderBook.sln
.idea/.idea.ZShader/.idea/encodings.xml
.idea/.idea.ZShader/.idea/indexLayout.xml
.idea/.idea.ZShader/.idea/projectSettingsUpdater.xml
.idea/.idea.ZShader/.idea/workspace.xml
.vs/ZShaderBook/v16/Browse.VC.db
Assets/Models.meta
Assets/Plugins.meta
Assets/Resources.meta
Assets/Scenes.meta
Assets/ShaderContent.meta
Assets/Texture.meta
Assets/Textures.meta
Assets/Plugins/Editor.meta
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
Assets/Resources/BillingMode.json
Assets/Resources/BillingMode.json.meta
Assets/Scenes/SampleScene.unity
Assets/Scenes/SampleScene.unity.meta
